.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}


.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}



.sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.sm-5col {
    flex: 0 0 20%;
    max-width: 20%;
}

.sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.sm-8 {
    flex: 0 0 66.66667;
    max-width: 66.66667%;
}

.sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* columns offset */
.sm-mgl-1 {
    margin-left: 8.33333%;
}

.sm-mgl-2 {
    margin-left: 16.66667%;
}

.sm-mgl-5col {
    margin-left: 20%;
}

.sm-mgl-3 {
    margin-left: 25%;
}

.sm-mgl-4 {
    margin-left: 33.33333%;
}

.sm-mgl-5 {
    margin-left: 41.66667%;
}

.sm-mgl-6 {
    margin-left: 50%;
}

.sm-mgl-7 {
    margin-left: 58.33333%;
}

.sm-mgl-8 {
    margin-left: 66.66667%;
}

.sm-mgl-9 {
    margin-left: 75%;
}

.sm-mgl-10 {
    margin-left: 83.33333%;
}

.sm-mgl-11 {
    margin-left: 91.66667%;
}



/* mobile when display is none */
@media only screen and (max-width:575px) {
    .sm-0 {
        display: none;
    }
}

/* tablet and pc-low resolution */
@media screen and (min-width:576px) and (max-width: 768px) {
    .wide {
        width: 540px;
    }

}


@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .wide {
        width: 720px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 1023px) {
    .row {
        margin-right: -8px;
        margin-left: -8px;
    }

    .col {
        padding-right: 8px;
        padding-left: 8px;
    }

    .md-0 {
        display: none;
    }

    .md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .md-5col {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .md-8 {
        flex: 0 0 66.66667;
        max-width: 66.66667%;
    }

    .md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* offset */
    .md-mgl-1 {
        margin-left: 8.33333%;
    }

    .md-mgl-2 {
        margin-left: 16.66667%;
    }

    .md-mgl-5col {
        margin-left: 20%;
    }

    .md-mgl-3 {
        margin-left: 25%;
    }

    .md-mgl-4 {
        margin-left: 33.33333%;
    }

    .md-mgl-5 {
        margin-left: 41.66667%;
    }

    .md-mgl-6 {
        margin-left: 50%;
    }

    .md-mgl-7 {
        margin-left: 58.33333%;
    }

    .md-mgl-8 {
        margin-left: 66.66667%;
    }

    .md-mgl-9 {
        margin-left: 75%;
    }

    .md-mgl-10 {
        margin-left: 83.33333%;
    }

    .md-mgl-11 {
        margin-left: 91.66667%;
    }
}

/* pc and pc-hight resolution  */
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 960px;
    }

}


@media only screen and (min-width: 1240px) and (max-width: 1399px) {
    .wide {
        width: 1140px;
    }

}

@media only screen and (min-width: 1400px) {
    .wide {
        width: 1320px;
    }

}

@media only screen and (min-width: 1024px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-0 {
        display: none;
    }

    .lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .lg-5col {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .lg-8 {
        flex: 0 0 66.66667;
        max-width: 66.66667%;
    }

    .lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* offset columns */
    .lg-mgl-1 {
        margin-left: 8.33333%;
    }

    .lg-mgl-2 {
        margin-left: 16.66667%;
    }

    .lg-mgl-5col {
        margin-left: 20%;
    }

    .lg-mgl-3 {
        margin-left: 25%;
    }

    .lg-mgl-4 {
        margin-left: 33.33333%;
    }

    .lg-mgl-5 {
        margin-left: 41.66667%;
    }

    .lg-mgl-6 {
        margin-left: 50%;
    }

    .lg-mgl-7 {
        margin-left: 58.33333%;
    }

    .lg-mgl-8 {
        margin-left: 66.66667%;
    }

    .lg-mgl-9 {
        margin-left: 75%;
    }

    .lg-mgl-10 {
        margin-left: 83.33333%;
    }

    .lg-mgl-11 {
        margin-left: 91.66667%;
    }
}